<div class="grid">
    <p-dialog header={{titleDialog}} [(visible)]="visibleDialog" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
            {{messageDialog}}
        </p>
    </p-dialog>

    <div class="col-12">
        <div class="card">
            <form #Formulario="ngForm" class="p-fluid grid m-1 p-2 card-form" >
                <div class="field col-6">
                    <label><b>Documento:</b></label>
                    <input
                        name = "documento"
                        [(ngModel)]="usuario.documento"
                        type="number"
                        maxlength="9999999999"
                        pInputText
                        placeholder="Documento"
                        (blur)="blurDocument($event)"
                    />
                    <div *ngIf="tieneError('documento', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese el documento.</p>
                    </div>
                </div>
                <div class="field col-6">
                    <label><b>Nombre:</b></label>
                    <input
                        name = "nombre"
                        [(ngModel)]="usuario.nombreCompleto"
                        type="text"
                        pInputText
                        placeholder="Nombre completo"
                    />
                    <div *ngIf="tieneError('nombre', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese el nombre.</p>
                    </div>
                </div>
                <div class="field col-6">
                    <label><b>Correo:</b></label>
                    <input
                        name = "correo"
                        [(ngModel)]="usuario.correo"
                        type="email"
                        pInputText
                        placeholder="Correo"
                    />
                    <div *ngIf="tieneError('correo', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese el correo.</p>
                    </div>
                </div>
                <div class="field col-3">
                    <label><b>Celular:</b></label>
                    <input
                        name = "celular"
                        [(ngModel)]="usuario.celular"
                        type="tel"
                        pInputText
                        placeholder="Celular"
                    />
                    <div *ngIf="tieneError('celular', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese el numero de celular.</p>
                    </div>
                </div>
                <div class="field col-3">
                    <label><b>Telefono:</b></label>
                    <input
                    name = "telefono"
                        [(ngModel)]="usuario.telefono"
                        type="tel"
                        pInputText
                        placeholder="Telefono"
                    />
                    <div *ngIf="tieneError('telefono', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese el numero de telefono.</p>
                    </div>
                </div>
                <div class="field col-6">
                    <label><b>Dirección:</b></label>
                    <input
                    name = "direccion"
                        [(ngModel)]="usuario.direccion"
                        type="text"
                        pInputText
                        placeholder="Dirección"
                    />
                    <div *ngIf="tieneError('direccion', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese la direccion.</p>
                    </div>
                </div>

                <div class="field col-3">
                    <label><b>Municipio:</b></label>
                    <p-dropdown
                        name="municipio"
                        [style]="{
                            width: '100%',
                            height: '40px',
                        }"
                        [options]="municipios"
                        [(ngModel)]="municipiosSeleccionado"
                        placeholder="Seleccione un municipio"
                        [filter]="true"
                        filterBy="value.nombre"
                        [showClear]="false"
                        appendTo="body"
                    ></p-dropdown>
                    <div *ngIf="tieneError('municipio', 'incorrect')">
                        <p style="color: red;">Por favor, seleccione un municipio.</p>
                    </div>
                </div>
                <div class="field col-3">
                    <label><b>Tipo usuario:</b></label>
                    <input
                    name = "tipoUsuario"
                        [(ngModel)]="usuario.tipoContrato!.tipo"
                        type="text"
                        pInputText
                        placeholder="Tipo usuario"
                        disabled="true"
                    />
                    <div *ngIf="tieneError('tipoUsuario', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese un tipo de usuario</p>
                    </div>
                </div>
                <div class="field col-2">
                    <label><b>Cantidad de personas:</b></label>
                    <input
                    name = "numPersona"
                        [(ngModel)]="datosReserva.numPersonas"
                        type="number"
                        pInputText
                        placeholder="Cantidad de personas"
                    />
                    <div *ngIf="tieneError('numPersona', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese una cantidad válida de personas</p>
                    </div>
                </div>
                <div class="field col-2">
                    <label><b>Cantidad menores de edad:</b></label>
                    <input
                        name="numMenoresEdad"
                        [(ngModel)]="datosReserva.numMenoresEdad"
                        type="number"
                        pInputText
                        placeholder="Cantidad menores de edad"
                    />
                    <div *ngIf="tieneError('numMenoresEdad', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese una cantidad válida de menores de edad.</p>
                    </div>
                </div>
                <div class="field col-2">
                    <label><b>Cantidad de mascotas:</b></label>
                    <input
                        name="numMascotas"
                        [(ngModel)]="datosReserva.numMascotas"
                        type="number"
                        pInputText
                        placeholder="Cantidad de mascotas"
                    />
                    <div *ngIf="tieneError('numMascotas', 'incorrect')">
                        <p style="color: red;">Por favor, ingrese una cantidad válida de mascotas.</p>
                    </div>
                </div>
                <div class="field col-2 " *ngIf="usuario.numNocheGratis!>0 && usuario.tipoContrato && usuario.tipoContrato.id === 3">
                    <br/>
                    <div class="field-checkbox mt-2 mb-0">
                        <p-checkbox value="ng" [(ngModel)]="valNocheGratis" id="ng" [ngModelOptions]="{standalone: true}"></p-checkbox>
                        <label for="ng">Noche gratis</label>
                    </div>
                </div>
                <div class="field col-2 " *ngIf="usuario.numNocheDescuento!>0 && usuario.numNocheDescuento!<=3  && usuario.tipoContrato && usuario.tipoContrato.id === 4">
                    <br/>
                    <div class="field-checkbox mt-2 mb-0">
                        <p-checkbox value="rd" [(ngModel)]="valReservaDescuento" id="rd" [ngModelOptions]="{standalone: true}"></p-checkbox>
                        <label for="rd">Reserva con descuento</label>
                    </div>
                </div>
            </form>
            <br />
            <div *ngIf="usuario.documento && visibleInfoReserva && !visibleDetalleReserva" class="p-fluid grid m-1 p-2 card-form">
                <div class="field col-6">
                    <label><b>Parque:</b></label>
                    <p-dropdown
                        [style]="{
                            height: '38px',
                            marginBottom: '10px'
                        }"
                        [options]="parques"
                        [(ngModel)]="parqueSeleccionado"
                        (onChange)="onDropdownChangeParque($event)"
                        placeholder="Seleccione un parque"
                        [filter]="true"
                        filterBy="value.nombre"
                        [showClear]="false"
                        appendTo="body"
                    ></p-dropdown>
                </div>
                <div
                    class="field col-6"
                    *ngIf="parqueSeleccionado.nombre !== undefined"
                >
                    <label><b>Cabaña:</b></label>
                    <p-dropdown
                        [style]="{
                            height: '38px',
                            marginBottom: '10px'
                        }"
                        [options]="cabanias"
                        [(ngModel)]="cabaniaSeleccionada"
                        (onChange)="onDropdownChangeCabania($event)"
                        placeholder="Seleccione una cabaña"
                        [filter]="true"
                        filterBy="value.nombre"
                        [showClear]="false"
                        appendTo="body"
                    ></p-dropdown>
                </div>
                <div
                    class="field col-4"
                    *ngIf="cabaniaSeleccionada.nombre !== undefined"
                >
                    <label><b>Fechas:</b></label>
                    <p-calendar
                        #calendar
                        appendTo="body"
                        selectionMode="range"
                        [inline]="false"
                        [readonlyInput]="true"
                        inputId="disabledays"
                        [(ngModel)]="fechaSeleccionada"
                        placeholder="Seleccione un rango de fecha"
                        [disabledDates]="todosLosDias.date"
                    >
                        <ng-template pTemplate="date" let-date>
                            <span
                                [ngClass]="{
                                    'dia-mantenimiento': dateIsInListMantenimiento(date),
                                    'dia-reserva ':dateIsInListReserva(date),
                                    'dia-prereserva ':dateIsInListPreReserva(date),
                                }"
                                >{{ date.day }}
                            </span>
                        </ng-template>
                    </p-calendar>
                </div>
                <div
                    class="field col-3"
                    *ngIf="cabaniaSeleccionada.nombre !== undefined"
                >
                    <br/>
                    <button
                        pButton
                        pRipple
                        type="button"
                        label="Adicionar servicio"
                        class="p-button-outlined mt-2"
                        (click)="onClickAddService()"
                    ></button>
                </div>
            </div>
            <br />
            <div *ngIf="visibleDetalleReserva && !visibleInfoReserva" class="p-fluid grid m-1 p-2 card-form">
                <div class="card m-1 p-0 col-12">
                    <p-table  responsiveLayout="stack" [breakpoint]="'960px'"  [value]="datosPreReserva" dataKey="id" class="col-12 p-0" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Servicio</th>
                                <th>NroNoches</th>
                                <th>Precio</th>
                                <th>Impuesto</th>
                                <th>Total</th>
                                <th>Total con descuento</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-prereserva>
                            <tr>
                                <td></td>
                                <td>{{prereserva.id}}</td>
                                <td>{{prereserva.servicio}}</td>
                                <td>{{prereserva.numNoche}}</td>
                                <td>{{prereserva.precio}}</td>
                                <td>{{prereserva.impuesto}}</td>
                                <td>{{prereserva.total}}</td>
                                <td>{{prereserva.totalDescuento}}</td>
                                <td>{{prereserva.desde}}</td>
                                <td>{{prereserva.hasta}}</td>
                            </tr>
                        </ng-template>
                    </p-table>

                </div>
                <div class="col-4">

                </div>
                <div
                        class="col-4"
                    >
                        <br/>
                        <button
                            pButton
                            pRipple
                            type="button"
                            label="Confirmar reserva"
                            class="p-button-outlined mt-2"
                            (click)="onClickConfirmReservation()"
                        ></button>
                    </div>
            </div>
        </div>
    </div>
</div>
