p-table {
    td,
    th {
        &:nth-last-child(-n+2) {
          text-align: center;
        }
    }
  }

p-columnFilter {
    margin-left: 40px;
}

div{
    button{
        margin-left: 10px;
    }
}
