.dialogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    label{
        font-weight: bold;
    }
    input,p-dropdown{
        margin-top: 10px !important;
    }
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    div{
        display: flex;
        flex-direction: column;
        padding: 14px;
        label{
            margin-bottom: 10px;
            font-weight: bold;
        }
        small{
            margin-top: 10px;
        }

    }
}
