.dialogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::ng-deep .custom-image .p-image-preview {
    background-color: white;
}

p-fileUpload{
    img{
        width: 20%;
        height: 20%;
    }
}

div{
    button{
        margin-left: 10px;
    }
}
